#areaType1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj2HXsO_V6HQMV001pl7HEI-hmyZD-0ZyDh3diuAM5hMWMkb-VPw");
    font-size: 20px;
    background-repeat: round;

 
}
#areaType2{

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThhMIjeTkPilgvN9j5DGUuEBbb1SGMxlTrbkvXe7P2YcrEy4daMA");
    font-size: 20px;
    background-repeat: round;

}

#areaType3{

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCsICagf0uVNG-eHIZyLhzWDCFufoJvXx7t_d_Qbd7h3DlfAK7Zw");
    font-size: 20px;
    background-repeat: no-repeat;

}
#areaType4{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Liberty_Bell_2008.jpg/256px-Liberty_Bell_2008.jpg");
    font-size: 20px;
    background-repeat: no-repeat;

}
#areaType5{
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF7FUX-_CyWjRgxKU7wvHCJk8RmgUvb4eOXfgBttUVGrPFf96F");
    font-size: 20px;
    background-repeat: no-repeat;

}
#areaType6{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQngvfVNKf0ao-czXAODKfNjQhpmD70vDIMLPXm4reMLUFCfXmFfg");
    font-size: 20px;
    background-repeat: no-repeat;
}
#areaType7{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyqJCBXvW_oiOYQUnQJLWCEauDFcaXaVMKhj5u1VQzwWqVAvWcxA");
   color:white;
   font-size: 20px;
   background-repeat: no-repeat;

}
